/* Google font  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header {
  display: flex;
}
.container {
  background-color: #ffffff;
  width: 1050px;
  padding: 30px;
  margin-top: 70px;
}
.top-header {
  display: flex;
  background-color: #2d25a0;
  color: #ffffff;
}
.title {
  padding: 3px;
  margin-bottom: 19px;
}
.header-title {
  font-size: 64px;
  font-weight: 700;
  line-height: 110px;
  margin-top: 196px;
  margin-left: 149px;
  margin-bottom: 0;
}

.watch-btn {
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  border: none;
  background-color: #f9e506;
  padding: 10px 24px;
  line-height: 24px;
  box-shadow: inset 168px 0 0 0 #f50792;
  transition: ease-out 0.3s;
  outline: none;
  text-decoration: none;
}
.watch-btn:hover {
  box-shadow: inset 0 0 0 0 #f50792;
  color: black;
}

.header-img img {
  width: 656px;
  height: 538px;
  margin-left: 100px;
  margin-top: 153px;
  margin-bottom: 169px;
}
 /* Main section  */
.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 15px;
  margin-bottom: 80px;
}

.player {
  display: flex;
  flex-direction: column;
  margin: 15px;
  padding: 15px;
  background-color: #ffffff;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player-img img {
  width: 300px;
  height: 256px;
  background: #ffffff;
}

.player-info {
  background-color: #ffffff;
}
.player-name {
  font-weight: 700;
  font-size: 28px;
  margin-top: 16px;
  margin-bottom: 10px;
}

/* Highlight Section  */

.section-title {
  color: #2d25a0;
  font-size: 40px;
  padding-left: 10px;
}

.highlight {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  padding: 15px;
  margin-bottom: 10px;
  align-items: center;
}
.highlight img {
  width: 300px;
  height: 256px;
}

.highlights {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 24px;
  align-items: center;
}

.highlight-section {
  margin-bottom: 90px;
}

.highlights-title {
  font-weight: 600;
  text-align: justify;
  padding: 0 7px;
}

/* More News */

.more-news {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 34px;
  grid-row-gap: 24px;
  padding-bottom: 40px;
}
.news {
  display: flex;
}
.news img {
  width: 224px;
  height: 120px;
}
.news-detail {
  margin-left: 16px;
}
.news-title {
  font-weight: 550;
  text-align: justify;
  padding: 0 10px;
}

/* Footer Start  */

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}
.img-footer img {
  width: 484px;
  height: 110px;
}
.social-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px;
}
.logo {
  border-radius: 50%;
  font-size: 30px;
  padding: 10px 10px;
  margin: 7px;
  color: #969bab;
  background-color: #e7e7e8;
}
.copyright {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}


/* Responsive mobile  */

@media only screen and (max-width: 688px) {
  .container {
    width: 100%;
  }

  .header,
  .header-title {
    display: block;
    font-size: 36px;
    line-height: 50px;
    margin-top: 98px;
    margin-left: 16px;
    margin-right: 66px;
  }
  .header-img img {
    width: 329px;
    height: 260px;
    margin-top: 50px;
    margin-left: 24px;
    margin-bottom: 75px;
    margin-right: 7px;
  }

  .players,
  .highlights,
  .more-news {
    grid-template-columns: repeat(1, 1fr);
  }

  .player {
    flex-direction: column;
    display: flex;
    align-items: center;
  }
  .highlight {
    align-items: center;
  }
  .img-footer img {
    width: 350px;
    height: 63px;
  }

  .logo {
    border-radius: 50%;
    font-size: 15px;
    padding: 6px;
    margin: 7px;
    color: #969bab;
    background-color: #e7e7e8;
  }
}


/* tablet Devices  */
@media only screen and (min-width: 688px) and (max-width: 992px) {
  .container {
    width: 100%;
  }

  .players,
  .highlights,
  .more-news {
    grid-template-columns: repeat(2, 1fr);
  }
}
